name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    name: 自动修复格式和预览
    uses: zotero-plugin-dev/workflows/.github/workflows/autofix.yml@main
    with:
      command: pnpm build
