name: issue-bot

on:
  issues:
    types:
      - labeled
  issue_comment:
    types:
      - created
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  issue-bot:
    uses: zotero-plugin-dev/workflows/.github/workflows/issue-bot.yml@main
    with:
      feedback-label: "等待用户回复"
      stale-issue-label: "过期"
      stale-issue-message: "该议题已被标记为「过期」，因为已经超过 30 天没有活动。"
      close-issue-message: "该议题已关闭，因为它被标记为「过期」后 7 天内仍一直处于非活动状态。"

  language:
    if: ${{ github.event.label.name == 'language' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions-cool/issues-helper@v3
        with:
          actions: close-issue, create-comment
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            你好，@${{ github.event.issue.user.login }}.
            该问题可能是你没有正确设置「条目语言」导致的，请你检查条目语言后查看问题是否仍然出现。
            关于如何设置条目语言，请参阅 Zotero 中文社区文档 [中英文混排](https://zotero-chinese.com/user-guide/faqs/word-addon#中英文混排)。
